[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# beanie compatibility requires pydantic 1.x and pydantic-settings was part of 1.x

[packages]
fastapi = "==0.115.6"
fastapi-admin = "==1.0.4"
pydantic = "==1.10.21"
python-dotenv = "==1.0.0"
# wsgi and asgi servers
httpx = "==0.28.1"
gunicorn = "==23.0.0"
python-multipart = "==0.0.20"
requests = "==2.32.3"
sse-starlette = "==1.6.1"
starlette-context = "==0.3.6"
uvicorn = "==0.34.0"
# database and orm dependencies
beanie = "==1.29.0"
motor = "==3.6.1"
# security
pyjwt = "==2.8.0"
"passlib[bcrypt]" = "==1.7.4"
# other
apscheduler = "==3.10.4"
async-lru = "==2.0.4"
tzdata = "==2023.3"
typer = "==0.15.1"

[dev-packages]
# code formatting and quality
black = "*"
flake8 = "==4.0.1"
isort = "==5.13.2"
pre-commit = "==2.15.0"
# testing
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
pytest-mock = "==3.14.0"
pytest-asyncio = "==0.25.0"

[requires]
python_version = "3.10"
