.DS_Store

.terraform/
terraform-log*
*.tfplan
.terraform.lock*
terraform.tfstate.d/
plans/

.idea/

terraform.tfvars
terraform.dev.tfvars
terraform.qa.tfvars
terraform.production.tfvars

backend.conf
terraform-backend-policy.json

# environment files
.env

# specific information for aws
aws-info.log