# environment files
.env

# virtual environment
.venv/

# python template cache
__pycache__/
*$py.class
*.py[cod]

# test results
test-results.xml
.coverage
.reports/

# pyinstaller
*.spec
dist/
build/