# OS files
.DS_Store

/node_modules/

# Unit tests
/coverage/
/.nyc_output/

# Environment variables
.env
.env.development
.env.test
.env.production

# Credential files
.config/

# Transitional nestjs files to ignore 
dist/
