[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.103.2"
python-dotenv = "==1.0.0"
# wsgi and asgi servers
gunicorn = "==20.1.0"
python-multipart = "==0.0.6"
requests = "==2.31.0"
sse-starlette = "==1.6.1"
starlette-context = "==0.3.6"
uvicorn = "==0.21.1"
# database and orm dependencies
aioodbc = "==0.5.0"
alembic = "==1.10.3"
asyncpg = "==0.27.0"
pyodbc = "==5.0.1"
"sqlalchemy[asyncio]" = "==2.0.25"
sqlalchemy-utils = "==0.41.1"
# security
pyjwt = "==2.8.0"
"passlib[bcrypt]" = "==1.7.4"
# other
apscheduler = "==3.10.4"
async-lru = "==2.0.4"
tzdata = "==2023.3"

[dev-packages]
# code formatting and quality
black = "*"
flake8 = "==4.0.1"
isort = "==5.13.2"
pre-commit = "==2.15.0"
# testing
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
pytest-mock = "==3.14.0"
pytest-asyncio = "==0.25.0"
# async client
httpx = "==0.28.1"

[requires]
python_version = "3.10"