---

services:
  api:
    container_name: ${COMPOSE_PROJECT_NAME}-api
    image: ${COMPOSE_PROJECT_NAME}-api-dev:latest
    ports:
      - ${MS_PORT}:${MS_PORT}
    working_dir: /usr/src/app
    command: /bin/ash -ci "yarn start:dev"
    platform: ${PLATFORM}
    depends_on:
      mongodb:
        condition: service_started
    # Load bulk vars from the .env file
    env_file:
      - ../.env
    tty: true
    links:
      - mongodb
    volumes:
      - ../:/usr/src/app:rw
      - backend-packages:/usr/src/app/node_modules

networks:
  default:
    name: ${COMPOSE_PROJECT_NAME}-api-network

volumes:
  dev-db:
    name: ${COMPOSE_PROJECT_NAME}-dev-db
  backend-packages:
    name: ${COMPOSE_PROJECT_NAME}-api-packages
    external: true
