---

services:
  api:
    container_name: ${COMPOSE_PROJECT_NAME}-api
    image: ${PROJECT_NAME}/${COMPOSE_PROJECT_NAME}-api:latest
    ports:
      - ${MS_PORT}:${MS_PORT}
    working_dir: /usr/src/app
    platform: ${PLATFORM}
    depends_on:
      mongodb:
        condition: service_started
    environment:
      - ../.env
    tty: true
    links:
      - mongodb

networks:
  default:
    name: ${COMPOSE_PROJECT_NAME}-network

volumes:
  dev-db:
    name: ${COMPOSE_PROJECT_NAME}-dev-db
