name: Pull Request Verification Workflow for Conference Manager

permissions:
  contents: read

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
    paths:
      - conference-manager/**

env:
  # common variables
  PLATFORM: linux/amd64

jobs:
  get-changed-packages:
    name: Get list of changed packages
    runs-on: ubuntu-22.04
    outputs:
      changed_packages: ${{ steps.changed-packages.outputs.changed_packages }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - id: changed-packages
        uses: ./.github/actions/get-changed-packages
      - name: Output changed packages
        run: |
          echo "Changed packages: ${{ steps.changed-packages.outputs.changed_packages }}"
  
  conference-webapp-verify:
    name: running conference manager webapp lint and unit tests
    needs: get-changed-packages
    if: ${{ contains(needs.get-changed-packages.outputs.changed_packages, 'conference-manager/ms-conference-webapp') }}
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./conference-manager/ms-conference-webapp
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          check-latest: true
        id: nvm

      - name: Set up Node.js using .nvmrc
        run: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
          node_version=$(cat .nvmrc)
          nvm install $node_version
          nvm use $node_version
        shell: bash

      - name: Install dependencies
        if: startsWith(github.head_ref, 'feat/') || startsWith(github.head_ref, 'fix/') || startsWith(github.head_ref, 'hotfix/') || startsWith(github.head_ref, 'refactor/')
        run: |
          npm install

      - name: Run Linting
        if: startsWith(github.head_ref, 'feat/') || startsWith(github.head_ref, 'fix/') || startsWith(github.head_ref, 'hotfix/') || startsWith(github.head_ref, 'refactor/')
        continue-on-error: true
        run: |
          npm run lint

      - name: Run Unit Tests
        if: startsWith(github.head_ref, 'feat/') || startsWith(github.head_ref, 'fix/') || startsWith(github.head_ref, 'hotfix/') || startsWith(github.head_ref, 'refactor/')
        run: |
          npm run test:ci

  conference-api-verify:
    name: verify conference manager api
    needs: get-changed-packages
    if: ${{ contains(needs.get-changed-packages.outputs.changed_packages, 'conference-manager/ms-conference-api') }}
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./conference-manager/ms-conference-api
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build container for development
        if: startsWith(github.head_ref, 'conference-api/feat/') || startsWith(github.head_ref, 'conference-api/fix/') || startsWith(github.head_ref, 'hotfix/') || startsWith(github.head_ref, 'conference-api/refactor/')
        run: |
          make build-dev

      - name: Install dependencies
        if: startsWith(github.head_ref, 'conference-api/feat/') || startsWith(github.head_ref, 'conference-api/fix/') || startsWith(github.head_ref, 'hotfix/') || startsWith(github.head_ref, 'conference-api/refactor/')
        run: |
          make install-dependencies

      - name: Run Linting
        if: startsWith(github.head_ref, 'conference-api/feat/') || startsWith(github.head_ref, 'conference-api/fix/') || startsWith(github.head_ref, 'hotfix/') || startsWith(github.head_ref, 'conference-api/refactor/')
        continue-on-error: true
        run: |
          make lint

      - name: Run Unit Tests
        if: startsWith(github.head_ref, 'conference-api/feat/') || startsWith(github.head_ref, 'conference-api/fix/') || startsWith(github.head_ref, 'hotfix/') || startsWith(github.head_ref, 'conference-api/refactor/')
        run: |
          make unit-tests
