name: Terraform Check

on:
  pull_request:
    branches:
      - main
    paths:
      - cloud/terraform/aws/*.tf
      - cloud/terraform/aws/*.hcl
      - cloud/terraform/aws/modules/**

permissions:
  id-token: write
  contents: read

jobs:
  check-terraform:
    name: Check Terraform
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4 # More information on this action can be found below in the 'AWS Credentials' section
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v3.0.0

      - name: Terraform Fmt
        run: terraform fmt -check
